body {
    margin: 0;
    padding: 0 10px 10px 10px;
    background: #263848;
}

h1 {
    color: #e5e5e5;
    font-size: 1.5rem;
}

label {
    color: #e5e5e5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_container {
    flex-direction: row;
    align-items: center;
}